
  div [class^="col-"] {
    padding-left: 5px;
    padding-right: 5px;
    
  }
  .card {
    transition: 1.5s;
    cursor: pointer;
  }
  .card-title {
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
  }

  .card-img-top {
    transition: 0.5s;
    cursor: pointer;
  }

  .card-title i {
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
    color: #ffa710;
  }
  .card-title i:hover {
    transform: scale(1.25) rotate(100deg);
    color: #18d4ca;
  }

  
  .card-text {
    
    color: rgb(134, 134, 134) !important;
  }
  
  .lenguage{
    color: #ffa710 !important;
  
  }
  
  .card::before,
  .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform 0.3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: "";
    pointer-events: none;
  }
  .card::before {
    transform-origin: left top;
  }
  .card::after {
    transform-origin: right bottom;
  }
  .card:hover::before,
  .card:hover::after,
  .card:focus::before,
  .card:focus::after {
    transform: scale3d(1, 1, 1);
  }

  #tooltip{
    position: relative;

  }

  #tooltip:hover .tooltip-box{
    display: inline-block;
  }

  .tooltip-box{
    display: none;
    background: rgb(248, 232, 5);
    position: absolute;
    line-height: 20px ;
    width: 300px;
    z-index: 500;
    text-align: justify ;
    color: #000;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    left: 500px;
    bottom: 140px;
  
  }

  .tooltip-box::after{
    content: "";
    display: inline-block;
    border-bottom: 15px solid transparent ;
    border-top:  15px solid transparent;
    border-right: 15px solid rgb(248, 232, 5);
    position: absolute;
    left: -15px;
    top: calc(50% - 15px);

  }

  .tooltip-box .thumb{
    width: 40%;
    border-right: 1px solid;
}
.tooltip-box .info{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.toolti-.box .info  .titulo{
    color: rgb(128, 36, 20);
    font-weight: 600;
    margin-bottom: 10px;

}

.tooltip-box .info .direccion{
    color: #707070;
    font-size: 12px;
    margin-bottom: 20px;

}

.tooltip-box .info .resumen{
    margin-bottom: 20px;
    color: rgb(241, 85, 12);
    font-size: 12px;
}

h1{
  font-size: 20px;
  color: #ffa710;
}